html, body {
    height: 100%;
    background: url(../assets/img/bg.png);
    font-family: 'Comic Neue', sans-serif;
    font-size: 12px;
    line-height: 1;
    font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
}

$lightblue: #03A9F4;
$blue: #2196f3;

@import "font", "helpers", "index", "gamepad", "display", "elements", "modules";
